<template name="SelectCity">
  <div class="{{props.containerClass}}">
    <div class="{{props.countryContainerClass}}">
      {{> Select2 countries}}
    </div>
    <div class="{{props.regionContainerClass}}">
      {{> Select2 regions}}
    </div>
    <div class="{{props.cityContainerClass}}">
      {{> Select2 cities}}
    </div>
  </div>
</template>
